<html layout:decorate="~{global/usrLayout}">

<head>
    <title th:text="|글 ${post.id}번|"></title>
</head>

<body>

<div layout:fragment="content">
    <h1>글 내용</h1>

    <div>
        <h3>제목</h3>
        <div th:text="${post.title}"></div>
    </div>

    <div>
        <h3>내용</h3>
        <div style="white-space: pre-wrap;" th:text="${post.body}"></div>
    </div>
    <hr>

    <div>
        <button onclick="history.back();">뒤로가기</button>
    </div>
    <div class="ask_btn">
        <button onclick="listReq()">목록</button>
        <button onclick="updateReq()">수정</button>
        <button onclick="deleteReq()">삭제</button>
    </div>
</div>
<script>
    const listReq = () => {
        console.log("목록 요청");
        const page = [[${page}]];
        location.href = "/security-login/ask/?page="+page;
    }
    const updateReq = () => {
        console.log("수정 요청");
        const id = [[${ask.id}]];
        location.href = "/security-login/ask/update/" + id;
    }
    const deleteReq = () => {
        console.log("삭제 요청");
        const id = [[${ask.id}]];
        location.href = "/security-login/ask/delete/" + id;
    }
</script>
</body>

</html>